footer {
  @include font-statement;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: end;
  padding-bottom: 3rem;
  margin-top: 10rem;

  h2 {
    @include font-display;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;

    &.is-inview {
      .line {
        transform: translateY(0) skewY(0);
      }
    }

    .line {
      position: relative;
      transform: translateY(250) skewY(5);
      transition: all 1.5 cubic-bezier(0, 0.55, 0.45, 1);
    }
  }

  .links {
    margin-bottom: 1.75rem;

    .link {
      margin-top: 0.2rem;
      display: block;
    }
  }

  .copyright {
    margin-bottom: 2rem;
    text-align: right;
  }
}
