.hero {
  @include font-display;
  margin: 0 auto;

  .sentence {
    padding-top: 15rem;
  }

  .sentence--start {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: right;
    padding-right: 1.5rem;
    box-sizing: border-box;

    span {
      display: inline-block;
    }
  }

  .sentence--end {
    display: inline-block;
    width: 70%;

    .line {
      margin-top: 1.5rem;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}
