.hero {
  @include font-display;
  margin: 0 5rem;

  .hero__inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      &.first {
        text-align: left;
      }

      &.second {
        text-align: center;
      }

      &.third {
        text-align: right;
      }
    }
  }
}
