.projects {
  .statement {
    @include body-font--large;
    margin-left: 50%;
    margin-bottom: 15rem;
  }

  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #000;
    padding: 2rem 0;

    &:last-of-type {
      border-bottom: 1px solid #000;
      margin-bottom: 15rem;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;

      .content {
        &__title {
          @include heading-font--medium;
          margin-top: 0;
        }

        &__description {
          @include body-font--small;
        }
      }

      .links {
        display: flex;
        justify-content: space-between;

        .arrow {
          width: 4rem;
        }

        .github {
          width: 3rem;
        }
      }
    }

    .image {
      &--narrow {
        width: 83%;
      }
    }
  }
}
