.projects {
  margin: 15rem 0;

  @include smallTablet {
    margin: 10rem 0;
  }

  @include phone {
    margin: 5rem 0;
  }

  .statement {
    @include font-statement;
    margin: 15rem 0 15rem 50%;

    @include smallTablet {
      margin: 10rem 0 10rem 50%;
    }

    @include phone {
      margin: 5rem 0 5rem;
    }

    &.is-inview {
      span {
        opacity: 1;
        transform: translateY(0);
      }
    }

    span {
      display: block;
      opacity: 0;
      transform: translateY(3rem);
      transition: all 1.2s cubic-bezier(0, 0.55, 0.45, 1);

      @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
          transition-delay: #{$i * 0.1}s;
        }
      }
    }
  }

  .project {
    display: flex;
    padding: 2rem 0;
    position: relative;

    @include smallTablet {
      flex-direction: column;
    }

    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 1px;
      background-color: $black;
      top: 0;
      transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
    }

    &:last-of-type {
      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 1px;
        background-color: $black;
        bottom: 0;
        transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
      }
    }

    &.is-inview {
      &:before {
        width: 100%;
      }

      &:last-of-type {
        &:after {
          width: 100%;
        }
      }

      .image {
        &__cover {
          height: 0;
        }
      }
    }

    &__inner {
      width: 50%;

      @include smallTablet {
        width: 100%;
      }

      &--image {
        @include smallTablet {
          order: 1;
        }
      }

      &--info {
        @include smallTablet {
          order: 2;
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 65%;

      @include smallTablet {
        width: 100%;
        margin-top: 3rem;
      }

      .content {
        &__title {
          @include font-heading;
          margin-top: 0;
        }

        &__description {
          @include font-bodycopy;
        }
      }

      .links {
        display: flex;
        justify-content: space-between;

        .arrow {
          width: 4rem;
        }

        .github {
          width: 3rem;
        }
      }
    }

    .image {
      position: relative;

      &--narrow {
        width: 83%;

        @include smallTablet {
          width: 100%;
        }
      }

      &__cover {
        position: absolute;
        height: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $white;
        transition: all 1.2s cubic-bezier(0.83, 0, 0.17, 1);
      }
    }
  }
}
