.projects {
  @include section-spacing;

  .statement {
    @include font-statement;
    @include section-spacing;
    margin-left: 50%;

     &.is-inview {
      span {
        opacity: 1;
        transform: translateY(0);
      }
    }

    span {
      display: block;
      opacity: 0;
      transform: translateY(3rem);
      transition: all 1.2s cubic-bezier(0, 0.55, 0.45, 1);

      @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
          transition-delay: #{$i * 0.1}s;
        }
      }
    }
  }

  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #000;
    padding: 2rem 0;

    &:last-of-type {
      border-bottom: 1px solid #000;
    }

    // &:hover {
    //   .image {
    //     filter: grayscale(0);
    //   }
    // }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;

      .content {
        &__title {
          @include font-heading;
          margin-top: 0;
        }

        &__description {
          @include font-bodycopy;
        }
      }

      .links {
        display: flex;
        justify-content: space-between;

        .arrow {
          width: 4rem;
        }

        .github {
          width: 3rem;
        }
      }
    }

    .image {
      // filter: grayscale(100);
      // transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);

      &--narrow {
        width: 83%;
      }
    }
  }
}
