.skills {
  .statement {
    @include font-statement;
    margin-bottom: 20rem;

    &.is-inview {
      span {
        opacity: 1;
        transform: translateY(0);
      }
    }

    span {
      display: block;
      opacity: 0;
      transform: translateY(3rem);
      transition: all 1.2s cubic-bezier(0, 0.55, 0.45, 1);

      @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
          transition-delay: #{$i * 0.1}s;
        }
      }
    }
  }

  .list {
    font-family: 'Schnyder Cond M Light';
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 600;

    .list__item {
      border-bottom: 1px solid #000;

      &:nth-of-type(1) {
        padding-left: 15%;
      }

      &:nth-of-type(2) {
        padding-left: 75%;
      }

      &:nth-of-type(3) {
        padding-left: 55%;
      }

      &:nth-of-type(4) {
        padding-left: 65%;
      }

      &:nth-of-type(5) {
        padding-left: 35%;
      }

      &:nth-of-type(6) {
        padding-left: 20%;
      }

      &:nth-of-type(7) {
        padding-left: 75%;
      }

      &:nth-of-type(8) {
        padding-left: 25%;
      }

      span {
        display: inline-block;
      }
    }
  }
}
