@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Sk-Modernist-Light';
  src: url('../fonts/Light/sk-modernist-light-webfont.eot');
  src: url('../fonts/Light/sk-modernist-light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Light/sk-modernist-light-webfont.woff') format('woff'),
    url('../fonts/Light/sk-modernist-light-webfont.ttf') format('truetype'),
    url('../fonts/Light/sk-modernist-light-webfont.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Sk-Modernist-Regular';
  src: url('../fonts/Regular/sk-modernist-regular-webfont.eot');
  src: url('../fonts/Regular/sk-modernist-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Regular/sk-modernist-regular-webfont.woff') format('woff'),
    url('../fonts/Regular/sk-modernist-regular-webfont.ttf') format('truetype'),
    url('../fonts/Regular/sk-modernist-regular-webfont.svg#webfont')
      format('svg');
}

@font-face {
  font-family: 'Sk-Modernist-Bold';
  src: url('../fonts/Bold/sk-modernist-bold-webfont.eot');
  src: url('../fonts/Bold/sk-modernist-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Bold/sk-modernist-bold-webfont.woff') format('woff'),
    url('../fonts/Bold/sk-modernist-bold-webfont.ttf') format('truetype'),
    url('../fonts/Bold/sk-modernist-bold-webfont.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Sk-Modernist-Mono';
  src: url('../fonts/Mono/sk-modernist-mono-webfont.eot');
  src: url('../fonts/Mono/sk-modernist-mono-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Mono/sk-modernist-mono-webfont.woff') format('woff'),
    url('../fonts/Mono/sk-modernist-mono-webfont.ttf') format('truetype'),
    url('../fonts/Mono/sk-modernist-mono-webfont.svg#webfont') format('svg');
}

$light: 'Sk-Modernist-Light';
$regular: 'Sk-Modernist-Regular';
$bold: 'Sk-Modernist-Bold';
$mono: 'Sk-Modernist-Mono';
$secondary: 'Inter';

body,
html {
  font-family: $regular;
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin font-display {
  font-size: 5rem;
  font-family: $bold;
}
@mixin font-heading {
  font-size: 3rem;
  font-family: $bold;
}

@mixin font-bodycopy {
  font-size: 1rem;
  font-family: $regular;
}

@mixin font-statement {
  font-size: 3.25rem;
  font-family: $light;
}
