// Sk Modernist
@font-face {
  font-family: 'Sk Modernist Light';
  src: url('../fonts/sk-modernist/Light/sk-modernist-light-webfont.eot');
  src: url('../fonts/sk-modernist/Light/sk-modernist-light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/sk-modernist/Light/sk-modernist-light-webfont.woff')
      format('woff'),
    url('../fonts/sk-modernist/Light/sk-modernist-light-webfont.ttf')
      format('truetype'),
    url('../fonts/sk-modernist/Light/sk-modernist-light-webfont.svg#webfont')
      format('svg');
}

@font-face {
  font-family: 'Sk Modernist Regular';
  src: url('../fonts/sk-modernist/Regular/sk-modernist-regular-webfont.eot');
  src: url('../fonts/sk-modernist/Regular/sk-modernist-regular-webfont.eot?#iefix')
  format('embedded-opentype'),
  url('../fonts/sk-modernist/Regular/sk-modernist-regular-webfont.woff')
  format('woff'),
  url('../fonts/sk-modernist/Regular/sk-modernist-regular-webfont.ttf')
  format('truetype'),
  url('../fonts/sk-modernist/Regular/sk-modernist-regular-webfont.svg#webfont')
  format('svg');
}

@font-face {
  font-family: 'Sk Modernist Bold';
  src: url('../fonts/sk-modernist/Bold/sk-modernist-bold-webfont.eot');
  src: url('../fonts/sk-modernist/Bold/sk-modernist-bold-webfont.eot?#iefix')
  format('embedded-opentype'),
  url('../fonts/sk-modernist/Bold/sk-modernist-bold-webfont.woff')
  format('woff'),
  url('../fonts/sk-modernist/Bold/sk-modernist-bold-webfont.ttf')
  format('truetype'),
  url('../fonts/sk-modernist/Bold/sk-modernist-bold-webfont.svg#webfont')
  format('svg');
}

// Schnyder Cond M Light
@font-face {
  font-family: 'Schnyder Cond M Light';
  src: url('../fonts/schnyder-cond-m-light/Schnyder-Cond-M-Light.eot');
  src: url('../fonts/schnyder-cond-m-light/Schnyder-Cond-M-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/schnyder-cond-m-light/Schnyder-Cond-M-Light.woff')
      format('woff'),
    url('../fonts/schnyder-cond-m-light/Schnyder-Cond-M-Light.ttf')
      format('truetype'),
    url('../fonts/schnyder-cond-m-light/Schnyder-Cond-M-Light.svg#webfont')
      format('svg');
}

$displayFont: 'Schnyder Cond M Light';
$bodyFontLight: 'Sk Modernist Light';
$bodyFontRegular: 'Sk Modernist Regular';
$bodyFontBold: 'Sk Modernist Bold';

body,
html {
  font-family: $bodyFontRegular;
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font variant */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin font-display {
  font-family: $displayFont;
  text-transform: uppercase;
  font-size: 10rem;

  @include smallDesktop {
    font-size: 8rem;
  }

  @include largeTablet {
    font-size: 9rem;
  }

  @include smallTablet {
    font-size: 6rem;
  }

  @include phone {
    font-size: 3.8rem;
  }
}

@mixin font-statement {
  font-family: $bodyFontLight;
  font-size: 3rem;

  @include smallDesktop {
    font-size: 2.5rem;
  }

  @include smallTablet {
    font-size: 1.5rem;
  }
}

@mixin font-heading {
  font-family: $displayFont;
  font-size: 5rem;
  text-transform: uppercase;

  @include smallDesktop {
    font-size: 4rem;
  }

  @include largeTablet {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  @include smallTablet {
    font-size: 2.5rem;
  }
}

@mixin font-bodycopy {
  font-family: $bodyFontRegular;
  font-size: 1rem;

  @include smallTablet {
    font-size: 0.875rem;
  }
}
