// Utilities
@import 'normalize';
@import 'locomotive-scroll';
@import 'layout-mixins';

// Fonts
@import 'typography';

// Components
@import 'hero';
@import 'skills';
@import 'projects';
@import 'footer';

// General Styles
* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}
